{% extends 'layout.html' %}

{% block nav %}
<a href="/read">
    <input class='btn btn-dark' type='button' value='Home'>
</a>
{% endblock %}


{% block content %}
<h1>Create User</h1>
<form action="/create_user" method="POST">
    <input type="hidden" name="id">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input name='first_name'type="textt" class="form-control" id="first_name">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input name='last_name'type="text" class="form-control" id="last_name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input name='email' type="text" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
<style>
    form {
        width: 65%;
    }
</style>


{% endblock %}