{% extends 'layout.html' %}


{% block nav %}
<a href="/">
    <input class='btn btn-dark btn-lg' type='reset' value='Add New User'>
</a>
{% endblock %}



{% block content %}

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for one_user in all_users %}
        <tr>
            <td>{{ one_user.first_name }}</td>
            <td>{{ one_user.last_name }}</td>
            <td>{{ one_user.email }}</td>
            <td>{{ one_user.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}